@import "@fortawesome/fontawesome-free/css/all.css";
/* Defaults to weight 400 */
@import "@fontsource/cormorant-garamond"; 
 /* Specify weight */
@import "@fontsource/cormorant-garamond/400.css"; 
 /* Specify weight and style */
@import "@fontsource/cormorant-garamond/400-italic.css"; 

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes word {
    0% {
      transform: translateY(100%);
    }
    15% {
      transform: translateY(-10%);
      animation-timing-function: ease-out;
    }
  
    20% {
      transform: translateY(0);
    }
  
    40%,
    100% {
      transform: translateY(-110%);
    }
  }
  
  .animate-word-delay-0 {
    animation: word 7s infinite;
  }
  .animate-word-delay-1 {
    animation: word 7s infinite;
    animation-delay: -1.4s;
  }
  .animate-word-delay-2 {
    animation: word 7s infinite;
    animation-delay: -2.8s;
  }
  .animate-word-delay-3 {
    animation: word 7s infinite;
    animation-delay: -4.2s;
  }
  .animate-word-delay-4 {
    animation: word 7s infinite;
    animation-delay: -5.6s;
  }
  
  @keyframes rotate-color {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate-color {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  .animate-gradient {
    animation: rotate-color 5s linear infinite;
    -webkit-animation: rotate-color 5s linear infinite;
  }
  .text-purple-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(89 31 249 / var(--tw-text-opacity));
  }